 /* Navegacion */

 .navegador{
    margin-bottom: 20px;
    display: flex; 
 }
 .nave {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    margin-bottom: 30px;
}
.nave-1 {
    color: #000;
    font-size: 16px; 
    margin: 0 1rem; 
} 
